/* RESET */
a{
  text-decoration: none;
  color: inherit;
}
ul{
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL */
*{
  font-family: montserrat, sans-serif;
}

/* PAGE D ACCUEIL */
.mainTitle{
  font-family: windsong, sans-serif;
}